*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
main{
    display:flex;
    flex-direction: column;
    width:50%;
    margin:10px auto;
}
h1{
    font-size: 3.3rem;
    font-weight: 500;
}
form{
    display:flex;
    flex-direction: column;
    margin:20px 0;
}
label{
    font-weight: 600;
    margin:20px 0 7px;
}
input{
    padding:10px;
    border:1px solid rgb(134, 130, 130);
    border-radius: 7px;
}
input[type="submit"]{
    margin-top:10px;
    background-color: white;
    color:rosybrown;
    cursor: pointer;
}
input[type="submit"]:hover{
    border:1px solid rgb(11, 85, 170);
    border-radius: 7px;
}
input:focus{
    border:1px solid rgb(11, 85, 170);
    border-radius: 7px;
}
table{
    
    margin-top: 25px;
}
tr>*:nth-child(1)
{
    width:50%;
}
tr>*:last-child{
    width:5%;
}
tr>*{
    text-align: left;
    border-bottom: 1px solid rgb(236, 218, 218);
    padding:10px 0;
}
tbody *{
    font-weight: 200;
}
.cross>a{
    color:rgb(69, 145, 192);
}
.message{
    display: none;
    padding: 10px 0;
}
.green{
    background-color:green;
}
.red{
    background-color:red;
}